@font-face{
    font-family: 'BookmanOldStyle';
    src: url(../fonts/BOOKOS.TTF);
    font-weight: 400;
}
@font-face{
    font-family: 'BookmanOldStyle';
    src: url(../fonts/BOOKOSB.TTF);
    font-weight: 700;
}