header {
    background-color: $backgroundPrimary;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;

    .container {

        & h1 {
            margin-top: 32px;
        }

        & p {
            margin-top: 10px;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: 110%;
        }

        & .btn-popup {
            padding: 10px 16px;
            border-radius: 5.45px;
            border: none;
            margin: 16px auto;
            display: block;
        }
    }
    .camel{
        height: 195px;
        width: 140px;
        background-image: url(../images/pict.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 140px 195px;
        margin: 0 auto;
        z-index: 0;
    
    }

    &::after {
        content: '';
        position: absolute;
        transform: translateX(-50%);
        margin-bottom: 50px;
        bottom: -70px;
        left: 50%;
        width: 51px;
        height: 0;
        border-left: 160px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 250px solid rgb(255, 255, 255);
        z-index: -1;

    }
}
@media (min-width: 768px) {
    header {
        padding-bottom: 40px;
        margin-bottom: 40px;
        position: relative;
    
        .container {
    
            & h1 {
                margin-top: 200px;
                font-size: 90px;

            }
    
            & p {
                margin-top: 24px;
                font-size: 50px;
                font-style: normal;
                font-weight: 300;
                line-height: 130%;
            }
    
            & .btn-popup {
                padding: 10px 16px;
                border-radius: 5.45px;
                border: none;
                margin: 16px auto;
                display: block;
            }
        }
        .camel{
            height: 195px;
            width: 140px;
            background-image: url(../images/pict.png);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 140px 195px;
            margin: 0 auto;
            z-index: 0;
        
        }
    
        &::after {
            content: '';
            position: absolute;
            transform: translateX(-50%);
            margin-bottom: 50px;
            bottom: -70px;
            left: 50%;
            width: 51px;
            height: 0;
            border-left: 160px solid transparent;
            border-right: 150px solid transparent;
            border-bottom: 250px solid rgb(255, 255, 255);
            z-index: -1;
    
        }
    }
    
}