header {
    background-color: $backgroundPrimary;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;

    .container {
        display: flex;
        flex-wrap: wrap;

        & h1 {
            margin-top: 32px;
        }

        & p {
            margin-top: 10px;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: 110%;
            max-width: 600px;
        }

        & .btn-popup {
            padding: 10px 16px;
            border-radius: 5.45px;
            border: none;
            margin: 16px auto;
            display: block;
        }
        .camel{
            height: 195px;
            width: 140px;
            background-image: url(../images/pict.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto;
            align-items: center;
        
        }
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     transform: translateX(-50%);
    //     margin-bottom: 50px;
    //     bottom: -70px;
    //     left: 50%;
    //     width: 51px;
    //     height: 0;
    //     border-left: 160px solid transparent;
    //     border-right: 150px solid transparent;
    //     border-bottom: 250px solid rgb(255, 255, 255);
    //     z-index: -1;

    // }
}
@media (min-width: 1200px) {
    header {
        padding-bottom: 40px;
        margin-bottom: 40px;
        position: relative;
        
        .container {
            display: flex;
            & > div{
                max-width: 875px;
            }

    
            & h1 {
                margin-top: 200px;
                font-size: 90px;

            }
    
            & p {
                margin-top: 24px;
                font-size: 50px;
                font-style: normal;
                font-weight: 300;
                line-height: 130%;

            }
    
            & .btn-popup {
                padding: 10px 16px;
                border-radius: 5.45px;
                border: none;
                margin: 16px auto;
                display: block;
            }
            .camel{
                height: 761px;
                width: 539px;
                align-items: center;
                // margin: auto;
                justify-content: space-between;
                background-size: contain;

            
            }
        }
    
        // &::after {
        //     content: '';
        //     position: absolute;
        //     transform: translateX(-50%);
        //     margin-bottom: 50px;
        //     bottom: -70px;
        //     left: 50%;
        //     width: 51px;
        //     height: 0;
        //     border-left: 160px solid transparent;
        //     border-right: 150px solid transparent;
        //     border-bottom: 250px solid rgb(255, 255, 255);
        //     z-index: -1;
    
        // }
    }
    
}